*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Inter', sans-serif;
  background-color: #282d35;

}
.navbar{
  background-color: #21222a;
  width: 100%;
  height: 15vh;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .left{
  display: flex;
  align-items: center;
  gap: 15px;
}
.navbar .left img{
  width: 30px;
}
.navbar .left p{
  color: #61dafb;
  font-size: 22.25px;
  font-weight: 700;
  letter-spacing: -5%;
}
.navbar .right p{
  color:#deebfb;
  font-size: 16px;
  font-weight: 600;
}

.container{
  background-color: #282d35;
  height: 85vh;
  background: url(./assets/logo\ large.png) no-repeat;
  background-size: 263px;
  background-position: right center;
}
.container div{
  width: 85%;
  margin: 0 auto;
  padding-top: 70px;
}
.container div h1{
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}
.container div ul{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container div ul li{
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  max-width: 400px;
}
.container div ul li::marker{
  font-size: 2rem;
  color: #61dafb;
}